html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

td {
  margin-right: 12px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  background-color: #cbcbcb;
  width: 240px;
  height: 100%;
}
.card-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-place {
  background-color: white;
  width: 85%;
  height: 100%;
  border-radius: 9px;
  border-style: solid;
  border-width: 2.8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: 100px;
}
.card-title {
  background-color: #ffb000;
  padding: 18px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  justify-content: center;
}
.card-title h1 {
  color: #101010;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

.w3-sidebar.w3-bar-block.w3-card.w3-animate-left {
  padding: 2%;
}
.w3-button.w3-xlarge {
  background-color: #004225;
  color: #ffb000;
  font-weight: bolder;
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.icon {
  height: 24px;
  margin-right: 12px;
}

.info {
  height: 36px;
}

.add-item {
  width: max-content;
  height: 32px;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffb000;
  align-self: center;
  padding: 12px;

  text-decoration: none;
}

.add-item:hover {
  background-color: #b57b00;
}

@media only screen and (max-width: 720px) {
  .add-item {
    width: 80%;
    font-size: 0.6em;
  }
}

.w3-bar-item.w3-button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
}

.navbar {
  z-index: 2; /* Set a higher z-index to keep the navbar on top */
}

.checkout-btn {
  justify-content: center;
  align-self: flex-end;
}

.w3-sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 56px; /* Adjust the top position to match the navbar height */
  left: 0;
  background-color: #004225;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px; /* Adjust padding-top to create space between navbar and sidebar */
  display: flex;
  flex-direction: column;
  z-index: 1; /* Set a lower z-index to position it behind the navbar */
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 25%; /* Adjust margin-left to make space for the sidebar */
  transition: margin-left 0.5s; /* Add a transition for smooth animation */
}
.w3-bar-block.w3-bar-item {
  font-size: 10%;
}
