body {
  background-color: #f5f5dc;
}
.maintitle {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.title {
  font-size: 36px;
  color: #004225;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: white; /* Set the background color to white */
  border-radius: 6px;
}

.centercontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 5%;
}

.itemfaq {
  background-color: white;
  width: 100%; /* Adjust the width for smaller screens */
  max-width: 600px;
  border: 2px solid black;
  border-radius: 24px;
  margin: 12px;
  box-sizing: border-box; /* Include padding and border in the total width */
}

@media only screen and (max-width: 600px) {
  /* Apply styles for screens with a maximum width of 600px (typical mobile screens) */
  .itemfaq {
    width: 90%;
    max-width: none; /* Remove max-width for smaller screens */
  }
}

.faqcontent {
  color: #004225;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
  font-weight: bold;
}

.drop {
  width: 24x;
  height: 24px;
  position: absolute;
  right: 0;
  margin-right: 24px;
}

.expanded-content {
  display: none;
  padding: 12px;
  margin-bottom: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 8px;
  margin-top: 12px;
}

.expanded-content.show {
  display: block;
}

.drop.rotate {
  transform: rotate(-90deg);
  transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #004225;
  color: #fff;
  text-align: center;
}
