body {
  height: 100%;
  width: 100%;
}

.menu-item {
  width: 240px;
  height: 270px;
  background-color: white;
  border-radius: 18px;
  margin: 24px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item-unavailable {
  width: 240px;
  height: 270px;
  background-color: white;
  border-radius: 18px;
  margin: 24px 24px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
}

.menu-display {
}

.img-container-menu img {
  max-width: 100%; /* Constrain image width */
  max-height: 100%; /* Constrain image height */

  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.img-container-menu {
  max-width: 240px;
  max-height: 120px;
  overflow: hidden; /* Optional: Hide any overflow from the image */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.add-item {
  width: 216px;
  height: 32px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffb000;
}

.add-item:hover {
  background-color: #b57b00;
}

.edit-item {
  width: 156px;
  height: 32px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffb000;
}

.trash-button {
  margin-left: 1vh;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffb000;
  cursor: pointer;
  display: inline-block;
}

.trash-icon {
  color: white;
  font-size: 20px; /* Adjust the size as needed */
  line-height: 1;
}

.detail-field {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 240px;
  background-color: rgb(255, 255, 255);
}
.desc-field {
  display: flex;
  justify-content: space-between;
  height: 54px;
  width: 240px;
  margin-bottom: 12px;
}

.food-name {
  margin-left: 18px;
  margin-top: 12px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.food-name.subcat {
  margin-left: 0;
}

.food-price {
  margin-top: 12px;
  margin-right: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: right; /* Align the text to the right */
}

.food-desc {
  color: #000000;
  font-size: 9px;
  margin-left: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.checkout {
  background-color: white;
  border-radius: 12px;
  width: 80%;
  margin-top: 24px;
  border: #aca7a7 4px;
  border-style: solid;
}

.cart-item {
  display: flex;
  width: 660px;
  height: 80px;
  background-color: white;
  border-radius: 18px;
  margin: 24px;
  margin-bottom: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media query for screens with a maximum width of 600px (typical mobile screens) */
@media only screen and (max-width: 720px) {
  .cart-item {
    width: 90%; /* Make it fill the width of the viewport */
    max-width: none; /* Remove max-width for smaller screens */
  }
  .subcategorydiv {
    width: 20%;
  }

  .list {
    width: 70%;
  }
  .side-by-side {
    margin-left: -3%;
  }
}

.cart-display {
  width: 120px;
  height: 80px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.detail-cart {
  height: 40px;
  width: 55%;
  background-color: rgb(255, 255, 255);
}

.foodcart-name {
  margin-left: 18px;
  margin-top: 12px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.amount {
  width: 22px;
  height: fit-content;
  border-radius: 48px;
  border: none;
  font-size: 12px;
  color: #050505;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffb000;
  word-spacing: 12px;
}

.total-price {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-right: 12px;
}

.price {
  margin-top: 28px;
  margin-left: 64px;
  width: 80px;
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Add this CSS to style the form inside the modal */
#addressForm {
  display: flex;
  flex-direction: column;
}

#addressForm label {
  margin-bottom: 10px;
}

#addressForm input {
  padding: 10px;
  margin-bottom: 15px;
}

#addressForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.modal-content {
  box-shadow: none;
  border: none;
}

/* Adjust modal body styles */
.modal-body {
  padding: 0; /* Remove default padding */
}

/* Adjust modal header styles */
.modal-header {
  border-bottom: none; /* Remove border */
  padding: 0.5rem 1rem; /* Add padding */
}

/* Optional: Adjust modal title styles */
.modal-title {
  margin-bottom: 0; /* Remove margin */
}

/* Optional: Adjust modal close button styles */
.btn-close {
  padding: 0.5rem 0.75rem; /* Add padding */
}
