body {
  background-color: #f5f5dc;
}

/* NAVBAR */
.navbar.navbar-expand-lg {
  background-color: #004225;
  padding-top: 24px;
  padding-bottom: 24px;
}

.brand {
  color: #ffffff;
  text-decoration: none;
  font-family: "Inika", serif;
  font-weight: bolder;
  font-size: 24px;
  margin-left: 24px;
}

.navbutton {
  color: #ffffff;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-toggler-icon {
  background-color: white; /* Set the background color to white */
  border-radius: 6px;
}

.collapse.navbar-collapse {
  margin-right: 24px;
}
/* END OF NAVBAR */

.order-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* TEXT HEADING */
.maintitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.title {
  font-size: 36px;
  color: #004225;
  font-weight: bold;
}
/* END OF TEXT HEADING */

/* SUBTITLE */
.subtitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.subtitle-txt {
  font-size: 20px;
  color: #004225;
  font-weight: bold;
}

.subtitle-txt-2 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-break: normal;
}

.subtitle-txt-bg {
  font-size: 20px;
  text-align: center;
  color: #f5f5dc;
  font-weight: bold;
  background-color: #004225;
  border-radius: 20px;
  width: 150px;
}

.subtitle-txt-bg {
  margin-left: 5px;
}

.subtitle-txt-bg-2 {
  font-size: 12px;
  text-align: center;
  color: #6a6a6a;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow property */
}
/* END OF SUBTITLE */

/* FOOTER */
.footer {
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: left;
  padding: 10px;
  flex: 1;
}

.footer-column:nth-child(1) {
  flex: 70%;
}

.footer-column:nth-child(2) {
  flex: 20%;
}

.footer-column:nth-child(3) {
  flex: 20%;
}

.cart-checkout-btn {
  background-color: #ffb000;
  width: 200px;
  font-size: 25px;
  border: 0px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

@media only screen and (max-width: 720px) {
  .cart-checkout-btn {
    width: 50px;
    font-size: 12px;
    border-radius: 8px;
  }
}

/* CHECKBOX */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox-label {
  margin-right: 10px;
  font-size: 16px;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #000; /* Black border */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #000; /* Black background when checked */
  border: 2px solid black; /* White border when checked */
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 15px;
  border: solid #fff; /* White checkmark color */
  border-width: 0 3px 3px 0;
  transform-origin: bottom;
  display: none;
}

.custom-checkbox:checked + .checkmark {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.change-btn {
  background-color: #ffb000;
  width: 100px;
  height: 25px;
  font-size: 12px;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 0px;
}

/* Add this CSS to style the form inside the modal */
#addressForm {
  display: flex;
  flex-direction: column;
}

#addressForm label {
  margin-bottom: 10px;
}

#addressForm input {
  padding: 10px;
  margin-bottom: 15px;
}

#addressForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}
