body.apply-padding {
  background-color: #f5f5dc;
  padding-top: 50px;
}

.navbar.navbar-expand-lg {
  background-color: #004225;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand {
  color: #ffffff;
  text-decoration: none;
  font-family: "Inika", serif;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 24px;
}
.navbutton {
  color: #ffffff;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-toggler-icon {
  background-color: white; /* Set the background color to white */
  border-radius: 6px;
}

.collapse.navbar-collapse {
  margin-right: 24px;
}

@media only screen and (max-width: 600px) {
  /* Apply styles for screens with a maximum width of 600px (typical mobile screens) */
  .itemfaq {
    width: 90%;
    max-width: none; /* Remove max-width for smaller screens */
  }
}

.alert {
  color: rgb(168, 50, 50);
  font-size: 12px;
}

.nav-item .badge {
  transform: translate(50%, -50%);
}
