.pending-order-container .orderno {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  padding-left: 48px;
}

.pending-order-container .ordername {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #00894d;
  padding: 0px 0px 0px 48px;
}

.pending-order-container .orderstat {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: whitesmoke;
  background-color: #20b474;
  text-align: center;
  padding: none;
  margin-right: 12px;
  border-radius: 24px; /* Adjust the value as needed */
}

.pending-order-container .orderprice {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.pending-order-container .orderfood {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #00894d;
  padding: 0px 0px 0px 120px;
}

.pending-order-container .table-order {
  width: 100%;
  margin-top: 12px;
}
