.pending-order-container .orderno {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  padding: 30px 0px 0px 120px;
}

.pending-order-container .ordername {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #00894d;
  padding: 0px 0px 0px 120px;
}

.pending-order-container .orderstat {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #00894d;
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.pending-order-container .orderprice {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.pending-order-container .orderfood {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #00894d;
  padding: 0px 0px 0px 120px;
}

.pending-order-container .table-order {
  width: 100%;
  border-bottom: 2px solid;
}
