*{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.display-4{
    margin-top:20px;    
}
.custom-text{
    color:#004225;
    font-weight: bold;
    font-size:30px;
}
.price-text{
    color:black;
    font-size:25px;
}
.total-text{
    color:#FFB000;
    font-size:30px;
    font-weight: bold;
}